body {
  font-family: 'Open Sans', sans-serif;
}

/*Header*/
.header {
  background-color: #404041;
  box-sizing: border-box;
  height: 100px;
  padding: 10px;
  text-align: center;
  width: 100%;

}

h1 {
  font-size: 60px;
  color: #ed458b;
  display: inline;
  font-weight: 700;
}

/*Section to set the range of numbers*/
section {
  text-align: center;
}

.set-range {
  height: 120px;
}

.min-max {
  display: inline-block;
}

/*Button is applied to most buttons on the page*/
button {
  background-color: #d0d2d3;
  border-radius: 23px 23px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  height: 45px;
  margin: 15px;
  width: 210px;
}

button:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
}

button:hover:enabled {
  background-color: #eb008b;
}

.range-button {
  font-size: 15px;
  height: 30px;
  width: 200px;
}

.min-change {
  font-size: 15px;
  height: 20px;
  margin: 4px;
}

.max-change {
  font-size: 15px;
  height: 20px;
  margin: 4px;
}

/*Section where user inputs a guess*/
.input-sec {
  height: 150px;
}

.number-input {
  border: 2px solid #d0d2d3;
  color: #d0d2d3;
  display: block;
  font-size: 40px;
  font-weight: 300;
  left: 50%;
  margin: 40px auto auto 20px;
  margin-left: -190px;
  position: relative;
}

span {
  font-size: 60px;
  font-weight: 300;
  color: #e6e7e8;
}

.last-guess {
  height: 30px;
}

.last-guess-class {
  color: #000000;
  font-weight: 300;
  font-size: 25px;
}

.num-section {
  height: 200px;
}

.number-guess {
  color: #eb008b;
  font-size: 170px;
}

.high-low {
  color: black;
  font-size: 25px;
}

/*Reset field*/
.reset {
  background-color: #d0d2d3;
  border-radius: 15px 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  height: 30px;
  width: 450px;
}

.reset:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
}

.reset:hover:enabled {
  background-color: #eb008b;
}